* {
  box-sizing: border-box;
  overscroll-behavior: none;
}


html {
  background-color:#22242D;
  background-image: url('./images/trees.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-size: 16px;

}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 1.5;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20%;
  left:0px;
}

h1, h2, h3, h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.3rem;
}

.sectionHeading {
  font-family: 'Rochester', cursive;
  font-weight: bolder;
  font-size: 2rem;
}

section {
    width: 90%;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 30px;
    background-color: rgb(39, 56, 56, 0.7);
    color:rgb(199, 202, 213);
}
/* 
section:focus, a:focus {
  outline:5px solid rgb(99, 129, 155);
} */

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid rgb(199,202,213, 0.5);
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(199,202,213, 0.5);
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(199,202,213, 0.5);
  }

@media only screen and (min-width: 500px) {
  section{
    width: 80%
  }
}

@media only screen and (min-width: 900px) {
  section{
    width: 60%
  }
}