* {
  box-sizing: border-box;
}


html {
  background-image: url('./images/trees.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 16px;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1.4;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 20px;
  }
}